{{#*inline "content"}}
    <section class="site-name"><h1>Longboard {{version}}</h1></section>
    <section class="site-stats">
        <p>{{stats.num_threads}} threads and {{stats.num_posts}} posts</p>
    </section>
{{/inline}}
{{> layout/page}}
