{{#*inline "content"}}
    <section class="site-name"><h1>Longboard {{page_info.version}}</h1></section>
    <section class="site-stats">
        <p>{{num_threads}} threads and {{num_posts}} posts</p>
    </section>
{{/inline}}
{{> layout/page}}
