{{#*inline "body"}}
    <header class="page-header">
        {{#with page_nav}}
            {{> page-nav}}
        {{/with}}
        {{#with page_header.banner }}
            <img class="banner" src="{{uri}}">
        {{/with}}
        <h1 class="board-name">/{{page_header.board.name}}/</h1>
        <h2 class="board-description">{{page_header.board.description}}</h2>
        {{> new-form}}
        {{#if page_header.notice_html}}
            <section class="notice">
                {{{page_header.notice_html}}}
            </section>
        {{/if}}
    </header>
    {{> content}}
{{/inline}}
{{> pages/page}}
