{{#*inline "body"}}
    <header class="page-header">
        {{#with page_nav}}
            {{> page-nav}}
        {{/with}}
        {{#with page_header.banner }}
            {{> banner}}
        {{/with}}
        <h1 class="board-name">/{{page_header.board.name}}/</h1>
        <h2 class="board-description">{{page_header.board.description}}</h2>
        {{> new-forms/new-thread-form}}
        {{#with page_header.notice_html}}
            {{> view/notice}}
        {{/with}}
    </header>
    {{> content}}
{{/inline}}
{{> pages/page}}
