<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/file/static/favicon.png" type="image/png"> 
    <link rel="stylesheet" href="/file/static/styles/base.css"/>
    <title>longboard v{{page_info.version}}</title>
  </head>
  <body>
    <header class="page-header">
        <nav class="boards">
            {{#each page_info.boards}}
                <ul><a href="/{{name}}" title="{{description}}">{{name}}</a></ul>
            {{/each}}
        </nav>
        {{> header}}
    </header>
    {{> content}}
  </body>
</html>
