<h1>Report Post {{id}}</h1>
{{> view/model/post hide_actions=true}}
<form class="action-form" method="POST">
    <label for="reason">Reason</label>
    <textarea name="reason"></textarea>
    <input type="submit" value="Report Post">
</form>
