{{#*inline "body"}}
    {{#with page_nav}}
        {{> page-nav}}
    {{/with}}
    <section class="home">
        <h1 class="site-name">{{site_name}}</h1>
        {{#with site_description}}
            <section class="site-description">
                {{{this}}}
            </section>
        {{/with}}
        <section class="recent">
            <section class="recent-files">
                <h1>Recent Images</h1>
                {{#each recent_files}}
                    {{> models/recent-file}}
                {{/each}}
            </section>
            <section class="recent-posts">
                <h1>Recent Posts</h1>
                {{#each recent_posts}}
                    {{> models/recent-post}}
                {{/each}}
            </section>
        </section>
    </section>
{{/inline}}
{{> pages/page}}
