{{#*inline "content"}}
    <section class="home">
        <section class="site-name"><h1>Longboard {{page_info.version}}</h1></section>
        <section class="recent">
            <section class="recent-files">
                <h1>Recent Images</h1>
                {{#each recent_files}}
                    {{> models/recent-file}}
                {{/each}}
            </section>
            <section class="recent-posts">
                <h1>Recent Posts</h1>
                {{#each recent_posts}}
                    {{> models/recent-post}}
                {{/each}}
            </section>
        </section>
    </section>
{{/inline}}
{{> pages/models/model}}
