{{#*inline "body"}}
    {{#with page_nav}}
        {{> page-nav}}
    {{/with}}
    <section class="user-options">
        <form class="user-options-form" method="POST">
            <h2>Options</h2>
            <label for="style">Style</label>
            <select name="style">
                {{#each styles}}
                    <option value="{{name}}" {{#if selected}}selected="selected"{{/if}}>
                        {{name}}
                    </option>
                {{/each}}
            </select>
            <label for="code_highlighting">Code Highlighting</label>
            {{#if options.code_highlighting}}
                <input name="code_highlighting" type="checkbox" checked>
            {{else}}
                <input name="code_highlighting" type="checkbox">
            {{/if}}
            <aside class="cookies-notice">
                This site uses HTTP cookies to manage options for users; when
                you click "Save", cookies will be set to keep track of your
                preferences.
            </aside>
            <input type="submit" value="Save">
        </form>
    </section>
{{/inline}}
{{> pages/page}}
