<form class="new-item-form" method="POST" enctype="multipart/form-data">
    {{#if new_thread_form}}
        <label for="subject">Subject</label>
        <input type="text" name="subject">
    {{/if}}
    <label for="author">Name</label>
    <input type="text" name="author">
    <label for="contact">Contact</label>
    <input type="text" name="contact">
    {{#unless @root.staff}}
        <label for="ident">Identity</label>
        <input type="password" name="ident">
    {{else}}
        <label for="staff-ident">Identity</label>
        <select name="staff-ident">
            <option>Anonymous</option>
            {{#if @root.staff.is_janitor}}
                <option>Janitor</option>
            {{/if}}
            {{#if @root.staff.is_moderator}}
                <option>Janitor</option>
                <option>Moderator</option>
            {{/if}}
            {{#if @root.staff.is_administrator}}
                <option>Janitor</option>
                <option>Moderator</option>
                <option>Administrator</option>
            {{/if}}
            <option>{{@root.staff.name}} ({{@root.staff.role}})</option>
        </select>
    {{/unless}}
    <textarea name="body"></textarea>
    <input type="file" name="file">
    <label for="spoiler">Spoiler?</label>
    <input type="checkbox" name="spoiler">
    <label for="delete-pass">Password</label>
    <input type="password" name="delete-pass">
    {{#unless new_thread_form}}
        <label for="no-bump">No Bump?</label>
        <input type="checkbox" name="no-bump">
    {{/unless}}
    {{#if new_thread_form}}
        <input type="submit" value="New Thread">
    {{else}}
        <input type="submit" value="New Post">
    {{/if}}
</form>
