{{#*inline "content"}}
    <h1>Login</h1>
    <form class="staff-login-form" method="POST">
        <label for="user">User</label>
        <input type="text" name="user">
        <label for="pass">Password</label>
        <input type="password" name="pass">
        <input type="submit" value="Log In">
    </form>
{{/inline}}
{{> pages/staff/staff page_class="staff-login-page"}}
