@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Sigmar+One|Roboto+Mono&display=swap');

pre {
    overflow-x: scroll;
}

a {
    color: hsl(0, 100%, 60%);
}

input, textarea {
    border: none;
}

body {
    font-family: 'Roboto Condensed';
    margin: 0 auto;
    background-color: hsl(0, 0%, 4%);
    color: hsl(0, 0%, 98%);
}

.error h1 {
    font-size: 250%;
}

.site-name {
    text-align: center;
}

.page-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.banner {
    border: thin solid black;
}

.board-name, .board-description {
    font-family: 'Sigmar One';
    text-align: center;
}

nav.boards ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0.6em 0;
}

nav.boards li {
    list-style: none;
    margin: 0 1em;
}

nav.boards a {
    text-decoration: none;
}

.site-name h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

.site-stats {
    text-align: center;
    font-size: 1.2em;
}

.new-item-form {
    margin: 1em auto;
    padding: 0.6em;
    display: grid;
    grid-template-columns: 6em auto;
    width: 20em;
    background-color: hsl(0, 0%, 20%);
}

.new-item-form label.divider {
    grid-column: 1 / span 2;
    border-bottom: thin solid black;
    margin: 0.4em 0 0.8em;
}

.new-item-form input, .new-item-form textarea {
    margin: 0.2em 0;
    padding: 0.2em 0.4em;
}

.new-item-form textarea {
    grid-column: 1 / span 2;
    height: 200px;
}

.new-item-form input[type=submit], .new-item-form input[type=file] {
    grid-column: 1 / span 2;
}

.thread {
    margin: 1em;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    padding-top: 1em;
    border-top: thin solid hsl(0, 0%, 15%);

    box-sizing: border-box;
}

.thread .subject {
    font-size: 1em;
    margin: 0 1em;
}

.post:first-of-type {
    background: none;
    border: none;
    align-self: stretch;
}

.post {
    display: inline;
    padding: 0.4em;
    margin: 0.4em 0;
    background-color: hsl(0, 0%, 10%);
    border: thin solid hsl(0, 0%, 15%);
    line-height: 1.45;
    overflow: hidden;
    box-sizing: border-box;
}

.post:target {
    animation: 1.0s ease-out 0s hilight;
}

@keyframes hilight {
    from {
        background-color: hsl(0, 0%, 20%);
    }

    to {
        background-color: hsl(0, 0%, 10%);
    }
}

.post-info {
    display: flex;
}

.post-info * {
    display: flex;
    margin: 0 0.2em;
}

.post-info :first-child {
    margin-left: 0;
}

.post-info :last-child {
    margin-right: 0;
}

.post-author, .post-timestamp {
    opacity: 0.5;
}

.post .body {
    padding: 0.4em;
    box-sizing: border-box;
}

.post .body :first-child {
    margin-top: 0;
}

.post .body :last-child {
    margin-bottom: 0;
}

.post-image {
    margin-right: 1em;
    margin-bottom: 1em;
    border: thin solid black;
    float: left;
}

.post .actions {
    display: flex;
    flex-direction: row;
    clear: both;
}

.post .actions .post-action:first-child {
    margin-left: auto;
}

.post .actions .post-action {
    margin: 0 0.4em;
    color: hsl(0, 0%, 50%);
    text-decoration: none;
}

.post .actions .post-action:hover {
    color: hsl(0, 0%, 70%);
}

.post .actions .post-action:last-child {
    margin-right: 0;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-form {
    display: flex;
    flex-direction: column;
    width: 20em;
}

.action-form > * {
    margin: 0.5em 0;
}

.action-form textarea {
    padding: 0.2em;
    height: 8em;
}

.action .post {
    margin: 1em 0;
    background-color: hsl(0, 0%, 10%);
    border: thin solid hsl(0, 0%, 15%);
    align-self: center;
}
