@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400:700|Roboto+Mono|Oswald:700&display=swap');

pre {
    overflow-x: scroll;
}

a {
    color: hsl(0, 100%, 60%);
}

input, textarea {
    border: none;
}

input[type="submit"] {
    padding: 0.2em;
    font-weight: bold;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 100%, 55%);
}

input[type="submit"]:hover {
    background-color: hsl(0, 100%, 60%);
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed';
    font-size: 14px;
    margin: 0 auto;
    color: hsl(0, 0%, 98%);
}

.error h1, .action h1 {
    font-size: 250%;
}

.site-name {
    text-align: center;
}

.page-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.banner {
    margin: 1em 0;
}

.page-header .board-name, .page-header .board-description {
    font-family: 'Oswald';
    text-align: center;
}

.page-header .board-name {
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.page-header .board-description {
    margin-top: 0;
}

nav.boards ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0.6em 0;
}

nav.boards li {
    list-style: none;
    margin: 0 1em;
}

nav.boards a {
    text-decoration: none;
}

.site-name h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

.site-stats {
    text-align: center;
    font-size: 1.2em;
}

.new-item-form {
    margin: 1em auto 2em;
    padding: 0.6em;
    display: grid;
    grid-template-columns: 6em auto;
    width: 350px;
    grid-gap: 0.2em;

    background-color: hsl(0, 0%, 12%);
    border: thin solid hsl(0, 0%, 22%);
    box-shadow: 5px 5px 0px hsl(0, 0%, 8%);
}

.new-item-form label {
    align-self: center;
}

.new-item-form label.divider {
    grid-column: 1 / span 2;
    border-bottom: thin solid black;
    margin: 0.4em 0 0.8em;
}

.new-item-form textarea {
    grid-column: 1 / span 2;
    height: 16em;
}

.new-item-form input, .new-item-form textarea {
    margin: 0.2em 0;
    padding: 0.2em 0.4em;
}

.new-item-form input[type=submit], .new-item-form input[type=file] {
    grid-column: 1 / span 2;
}

.new-item-form input[type=checkbox] {
    justify-self: flex-start;
    border: 0;
}

.notice {
    margin: 1em 0 -1em;

    align-self: stretch;
    border-top: thin dashed hsl(0, 0%, 15%);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.thread {
    margin: 1em 0;
    padding: 1em 1em 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-top: thin dashed hsl(0, 0%, 15%);

    box-sizing: border-box;
}

.thread > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.thread > header a {
    color: hsl(0, 0%, 98%);
    text-decoration: none;
}

.thread > header .subject {
    font: bold 1em 'Oswald';

    background-color: hsl(0, 0%, 12%);
    border: thin solid hsl(0, 0%, 22%);
    box-shadow: 5px 5px 0px hsl(0, 0%, 8%);

    padding: 0.4em;
}

.thread .post:first-of-type {
    background: none;
    border: none;
    align-self: stretch;
}

.post {
    padding: 0.4em;
    margin: 0.4em 0;
    background-color: hsl(0, 0%, 10%);
    border: thin solid hsl(0, 0%, 15%);
    line-height: 1.45;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
}

.post:target {
    animation: 1.0s ease-out 0s highlight;
}

@keyframes highlight {
    from {
        background-color: hsl(0, 0%, 20%);
    }

    to {
        background-color: hsl(0, 0%, 10%);
    }
}

.post-info {
    display: flex;
    flex-flow: row;
    font-size: 0.9em;
}

.post-info * {
    margin: 0 1em;
}

.post-info .post-ident {
    margin: 0;
    color: hsl(0, 100%, 60%);
}

.post-info :first-child, .post-info :last-child {
    margin: 0;
}

.post-author, .post-timestamp::before {
    content: "Posted on ";
}

.post-author, .post-timestamp {
    opacity: 0.5;
}

.post-id {
    margin-left: auto;
}

.post .body {
    box-sizing: border-box;
    margin: 0.4em;
}

.post .body-contents {
    width: max-content;
    max-width: 100%;
}

.post .body-contents > :first-child {
    margin-top: 0;
}

.post .body-contents > :last-child {
    margin-bottom: 0;
}

.post .body-contents ul, .post .body-contents ol {
    /* So that padding is respected when next to a floating image. */
    overflow: hidden;
}

.post .body-contents * {
    margin: 0.5em 0;
}

.post-image {
    display: flex;
    flex-flow: column nowrap;

    margin-right: 1em;
    margin-bottom: 1em;

    position: relative;

    float: left;
}

.post-image img {
    max-width: 100vw;
    max-height: 100vh;
}

.post-image img[data-expanding] {
    filter: grayscale(0.5) brightness(0.5);
}

.post-image a {
    font-size: 0.75em;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-image img {
    margin-bottom: 1.3em;
}

.post-image.spoiler img {
    width: 200px;
    height: 200px;
}

.post-fixed {
    position: fixed;
}

.post .actions {
    display: flex;
    flex-direction: row;
    clear: both;
}

.post .actions .post-action:first-child {
    margin-left: auto;
}

.post .actions .post-action {
    margin: 0 0.4em;
    color: hsl(0, 0%, 50%);
    text-decoration: none;
    font-size: 0.9em;
}

.post .actions .post-action:hover {
    color: hsl(0, 0%, 70%);
}

.post .actions .post-action:last-child {
    margin-right: 0;
}

form.post-action input[type=submit] {
    font: normal 1em 'Roboto Condensed';
    color: hsl(0, 0%, 50%);
    background: none;
    padding: 0;
}

form.post-action input[type=submit]:hover {
    color: hsl(0, 0%, 70%);
    cursor: pointer;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
}

.action-form {
    display: grid;
    grid-template-columns: 6em auto;
    grid-gap: 0.5em;
}

.action-form textarea {
    padding: 0.2em;
    height: 4em;
}

.action-form textarea, .action-form input[type=submit] {
    grid-column: 1 / 3;
}

.action .post {
    margin-bottom: 3em;
    background-color: hsl(0, 0%, 10%);
    border: thin solid hsl(0, 0%, 15%);
    align-self: center;
}

.board .page-nums {
    margin: 0 auto;
    width: max-content;

    padding: 0.4em;

    background-color: hsl(0, 0%, 12%);
    border: thin solid hsl(0, 0%, 22%);
    box-shadow: 5px 5px 0px hsl(0, 0%, 8%);
}

.board .page-num-link {
    margin: 0 0.4em;
}

.board .page-num-link.current {
    color: hsl(0, 0%, 60%);
}

.board .page-num-link.current::before {
    content: "[";
}

.board .page-num-link.current::after {
    content: "]";
}

.home {
    max-width: 800px;
    margin: 0 auto;
}

.recent {
    display: grid;
    grid-template-columns: auto auto;
}

.recent .recent-posts, .recent .recent-files {
    margin: 1em 4em;
}

.recent .recent-files {
    grid-column: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.recent .recent-posts {
    grid-column: 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.recent .recent-posts .post-preview, .recent .recent-files .file-preview {
    align-self: flex-start;
}

.file-preview .post-image {
    float: none;
    margin: 0.4em 0;
}

.post-preview .body {
    padding-left: 2em;
    border-left: solid 5px hsl(0, 0%, 10%);
}

.staff-page {
    margin: 2em auto;
    max-width: 900px;
    display: flex;
    flex-flow: column nowrap;
}

.staff-page h1 {
    width: max-content;
}

.staff-login-page {
    align-items: center;
}

.staff-login-form {
    width: max-content;
    display: grid;
    grid-template-columns: 5em 10em;
    grid-gap: 0.4em;
}

.staff-login-form input[type="submit"] {
    grid-column: 1 / 3;
}

.overview-header {
    align-self: stretch;
    display: grid;
}

.overview-header h1 {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    margin: 0.4em;
}

.overview-header .login-actions {
    grid-row: 1;
    grid-column: 1;
    justify-self: end;
}

.overview-header .login-actions > * {
    margin: 0 0.4em;
}

.overview-item {
    border-top: thin solid hsl(0, 0%, 8%);
    padding-bottom: 1em;
}

.report-table, .board-table, .user-table {
    display: grid;
    grid-gap: 0.4em 1em;
}

.report-table {
    grid-template-columns: min-content max-content auto min-content;
}

.board-table {
    grid-template-columns: max-content auto;
}

.user-table {
    grid-template-columns: min-content auto max-content max-content;
}

.table-header {
    font-weight: bold;
    color: hsl(0, 0%, 40%);
}

.user-note {
    grid-column: 1 / 5;
    font-style: italic;
    margin-top: -0.2em;
    margin-bottom: 0.2em;
}

.overview-item form {
    display: grid;
    padding: 0.8em;
    margin-top: 0.8em;
    grid-gap: 0.5em 1em;
    grid-template-columns: 7em auto 10em;
    background-color: hsl(0, 0%, 8%);
    border-color: hsl(0, 0%, 14%);
    border-radius: 4px;
}

.overview-item form h2 {
    font: 1em 'Oswald';
    text-align: center;
    grid-row: 1;
    grid-column: 1 / 4;
    margin: 0 0 0.4em;
}

.overview-item form input[type="number"] {
    width: 100%;
}

.row-2 {
    grid-row: 2;
}

.row-3 {
    grid-row: 3;
}

.page-wrapper {
    min-height: calc(100% - 100px);
    margin-bottom: 100px;

    padding-top: 1em;
    padding-bottom: 2em;

    background-image: linear-gradient(hsl(10, 10%, 14%), hsl(0, 0%, 0%));
    background-repeat: no-repeat;
}

.page-footer {
    display: grid;
    position: relative;

    height: 100px;
    margin-top: -100px;

    border-top: thin dashed hsl(0, 0%, 12%);

    padding: 1em;
    background-color: hsl(0, 0%, 0%);

    box-sizing: border-box;
}

.page-footer a {
    color: inherit;
    text-transform: uppercase;

    font: bold 1em 'Roboto Condensed';
    text-decoration: none;
}

.page-footer ul {
    display: flex;
    padding: 0;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-self: center;
}

.page-footer li {
    margin: 0 0.6em;
}

.page-footer .version {
    font: 0.8em 'Roboto Mono';
    justify-self: flex-end;
}
