@import url('/file/style/base.css');
@import url('/file/style/base-fonts.css');
@import url('/file/style/peace-colors.css');
@import url('/file/style/base-colors.css');

input[type="text"],
    input[type="number"],
    input[type="password"],
    textarea,
    select
{
    border-width: thin;
    border-style: solid;
}
